@font-face {
    font-family: SFProDisplay-Bold;
    src: url("./fonts/SFProDisplay-Bold.ttf");
}
@font-face {
    font-family: SFProDisplay-Regular;
    src: url("./fonts/SFProDisplay-Regular.ttf");
}
@font-face {
    font-family: SFProDisplay-Semibold;
    src: url("./fonts/SFProDisplay-Semibold.ttf");
}
* {box-sizing: border-box;}
body {
    color: #FFFFFF;
    font-family: SFProDisplay-Regular;
    background: #E5E5E5;
}
input {outline:none;}
li{list-style-type: none;}
a {
    text-decoration: none;
    color: #FFFFFF;
}
h4{
    font-family: SFProDisplay-Semibold;
    font-size: 14px;
    line-height: 22px;;
    color: #595959;
    margin: 0;
}
img{
    border-radius: 50%;
    object-fit: cover;
}
p{
    font-family: SFProDisplay-Regular;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin: 0;
}
/*.container {*/
/*    border: 1px solid red;*/
/*}*/
/* Header main */
.header{
    padding-top: 0.5rem;
    height: 4rem;
    background-color: #0050B3;
    margin-bottom: 1rem;
}
.top__navigation{
    margin: 0 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    padding: 0.5rem 0;
}
.search__input{
    padding: 0.19rem 1.875rem 0.19rem 0.75rem;
    width: 21rem;
    height: 2rem;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    background-image: url("../img/icon/headerIcon/searchInput.svg");
    background-repeat: no-repeat;
    background-position: right 0.73rem center;
}
.navigation{
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
}
.user__panel{
    display: flex;
    align-items: center;
}
.user__avatar{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    padding-top: 0.25rem;
}
.user__name{
    margin-left: 10px;
    font-weight: 600;
    font-family: SF Pro Display;
    font-size: 1em;
    line-height: 22px;
}
.navigation__panel{
    display: flex;
    align-items: center;
}
.navigation__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: SF Pro Display;
    font-size: 1em;
    line-height: 22px;
    margin-left: 0.75rem;
}
.navigation__link::before{
    content: " ";
    width: 1px;
    height: 18px;
    background: #003A8C;
    margin-right: 0.75rem;
}
.navigation__link:last-child::after{
    content: " ";
    width: 1px;
    height: 18px;
    background: #003A8C;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.icon__pan{
    display: flex;
    align-items: center;
}
.icon__links{
    display: flex;
    align-items: center;
    margin-right: 1.0625rem;
}
.icon__links:nth-child(3)::after{
    content: " ";
    width: 1px;
    height: 18px;
    background: #003A8C;
    margin-left: 1rem;
}
.icon__links:nth-child(4){
    margin-right: 0.3125rem;
}
.icon__links > svg{
    fill: #002766;
}
.icon__links > svg:hover{
    fill: #FFFFFF;
}
/* Main menu */
.main {
    /*border: 1px solid yellow;*/
    margin: 0 20rem;
    width: auto;
    height: auto;
}
.section{
    display: flex;
}
.main__sidebar{
    width: 12rem;
    height: auto;
    /*box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);*/
    margin-right: 1rem;
}
.main__sidebar > div{
    display: flex;
    align-items: center;
}
.user__sidebar{
    width: 12rem;
    height: auto;
    font-size: 16px;
    line-height: 22px;
}
.user__sidebar{
    color: #262626;
    font-size: 16px;
    line-height: 22px;
}
.main__nav{
    width: 12rem;
    height: auto;
    margin-bottom: 1.5rem;
}
.shortcuts__sidebar{
    width: 12rem;
    height: auto;
}
.span__nav{
    color: #262626;
    font-family: SF Pro Display;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}
.explore__sidebar{
    width: 12rem;
    height: auto;
}
.nav__group > li{
    padding-top: 0.125rem;
    padding-left: 0.5rem;
    width: 12rem;
    height: 2rem;
    border-radius: 4px;
}
.nav__link{
    padding-left: 0.5rem;
    color: #595959;
}
.nav__link:hover{
    color: #262626;
}
.nav__link > svg{
    margin-right: 0.5rem;
}
.nav__group > li:hover{
    background: #FFFFFF;
    fill: #262626;
}
.nav__link{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    font-family: SF Pro Display;
    font-weight: 600;
}
.svg__more{
    margin-top: 6px;
}
.more {
    color: #1890FF;
}
.one__li{
    margin-top: 0.625rem;
}
.main__menu{
    width: 36.75rem;
    height: 87.5rem;
}
.create__post__menu{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-bottom: 1rem;
}
.header__create{
    padding: 0.5625rem 0 0.5625rem 1rem ;
    background: #F5F5F5;
}
.body__create{
    display: flex;
    align-items: flex-start;
    padding: 1.5rem 0 1.5rem 1rem;
    font-family: SF Pro Display;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
    border: 1px solid #E8E8E8;
    font-weight: 600;
}
.body__create > img{
    width: 40px;
    height: 40px;
}
.create__input{
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 31.375rem;
    word-wrap: break-word;
}
.footer__create{
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px
}
.footer__button{
    background: #F5F5F5;
    border-radius: 48px;
    border: 1px solid #F5F5F5;
    width: 8.375rem;
    height: 2.5rem;
    font-family: SF Pro Display;
    font-weight: 600;
    color: #595959;
}
.dot{
    width: 48px;
    height: 40px;
}
.post__menu{
    padding: 1rem 0 0 1rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #595959
}
.post__header{
    display: flex;
    align-items: flex-start;
}
.post__info{
    margin-left: 0.75rem;
}
.post__info > div{
    display: flex;
    align-items: center;
    color: #8C8C8C;
}
.post__info > h4{
    padding-top: 0.3rem;
    font-weight: bold;
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
}
.span__info{
    margin: 0 0.25rem 0 0.25rem;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: #BFBFBF;
}
.post__content > img{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    object-fit: none;
}
.post__content > p {
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.post__content > p > a{
    color: #096DD9;
    text-decoration: underline;
}
.post__like{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.post__like > p{
    margin: 9px 4px 9px 0;
    padding-top: 4px;
}
.stories__img{
    width: 300px;
    height: 400px;
}
.post__footer > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__button{
    margin: 1rem 4rem 1rem 4rem;
    width: 58px;
    height: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #595959;
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.post__button > img{
    padding-right: 0.6rem;
}
.main__sidebar__right{
    margin-left: 1rem;
}
.stories__sidebar{
    padding: 1rem 1rem 1rem 1.5rem;
    width: 25rem;
    height: 24rem;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.stories__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stories__header{
    margin-bottom: 1rem;
}
.stories__header > h4 {
    color: #262626;
}
.stories__arhive{
    display: flex;
    align-items: center;
}
.stories__arhive > a{
    color: #0050B3;
}
.stories__arhive > img{
    margin-right: 0.25rem;
}
.stories__main > p{
    color: black;
}
.stories__info{
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
}
.stories__info > div{
    margin-left: 0.5rem;
}
.text__stories > span{
    font-weight: bold;
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
}
.text__stories > p{
    color: #8C8C8C;
}
.stories__footer{
    display: flex;
    align-items: center;
}
.stories__footer > a {
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    margin-left: 0.75rem;
}
.stories__footer > img{

}
.happyb__sidebar{
    display: flex;
    align-items: center;
    width: 25rem;
    height: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.happyb__sidebar > img{
    margin-left: 1rem;
}
.happyb__sidebar > span{
    font-weight: bold;
    margin-left: 1rem;
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
}
.happyb__sidebar > p{
    color: #595959;
}
.page__sidebar{
    background: #FFFFFF;
    width: 25rem;
    height: 19rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.page__header{
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page__header > button{
    border-radius: 50%;
    border: 1px solid white;
    background: #FFFFFF;
}
.page__header > p{
    font-weight: bold;
    margin-top: 0.6rem;
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.page__header > button{
    margin-top: 0.5rem;
}
.line{
    margin: 0.25rem 0 1rem 0;
    border: 1px solid #D9D9D9;
}
.page__main{
    display: flex;
}
.page__main > img{
    margin: 0 1rem 0 1rem;
    /*margin-right: 1rem;*/
}
.page__text > p{
    font-weight: bold;
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
}
.page__text > div{
    display: flex;
}
.page__text > img{
    margin-right: 1rem;
}
.text__not__mes{
    display: flex;
    align-items: center;
}
.text__not__mes > p{
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.text__not__mes > span{
    margin-left: 0.5rem;
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    color: #595959;
    height: 20px;
    width: 15px;
    text-align: -moz-center;
}
.page__text__img{
    margin-right: 0.25rem;
}
.line-1{
    margin: 1rem 1rem 0 1rem;
    border: 1px solid #D9D9D9;
}
.page__footer{
    text-align: -moz-center;
}
.footer__but{
    margin: 1rem 0 0 0;
    width: 352px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button__page{
    width: 117px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.button__page:hover{
    color: #1890FF;
}
.button__page:nth-child(1){
    border-radius: 4px 0 0 4px;
}
.button__page:nth-child(3){
    border-radius: 0 4px 4px 0;
}
.footer__stat{
    margin: 1.5rem 1rem 0 1rem;
    text-align: center;
}
.stat__num{
    font-family: SF Pro Display;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    color: #262626;
}
.stat__text > p{
    /* Regular / 14px | 22px */
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #8C8C8C;
}

.popUpMenuShare {
    display: none;
    width: 300px;
    height: 100px;

}

.show{
    display: block;
}